.azul{
    background-color: #095385b6;
    width: 60%;
    padding: 20px;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
}
.rojo{
    background-color: #e70505bf;
    width: 60%;
    padding: 20px;
    margin-top: 5px;
    text-align: center;
    font-weight: bolder;
}